<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
    <connect>
    	<host>localhost</host>
    	<port>8080</port>
    	<db>postgre</db>
    	<authorization>yes</authorization>
    	<timeout>1000</timeout>
    </connect>
    <user>
    	<type>admin</type>
    	<login>adm</login>
    	<password>pass</password>
    </user>
</configuration>