<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings type="123">
    <name>UserName</name>
  </appSettings>
  <http>
    <listen>8080</listen>
    <timeout>5000</timeout>
  </http>
  <database>
    <name>postgres</name>
    <host>localhost</host>  
    <user>admin</user>
    <pass>password</pass>
  </database>
</configuration>
